:root {
    --primary-color: #f3A46B;
    --white-color: #fff;
    --black-color: #000;
    --text-colormain: #A1A19A;
    --text-colorextra: #555555;
    --black-colorextra: #555555;
    --header-height: 76px;
    --border-color: #f1f1f1
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins-Light;
    src: url(../font/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

.a {
    text-decoration: none;
    color: var(--text-color);
}

.p {
    margin: 0;
}

.ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.color-text-white {
    color: var(--white-color) !important;
}


/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__column-3 {
    padding: 0 15px;
    width: 25%;
}

.grid__column-9 {
    padding: 0 15px;
    width: 75%;
}

.grid__column-2 {
    padding: 0 15px;
    width: 16.6667%;
}

.grid__column-6 {
    padding: 0 15px;
    width: 50%;
}


/* btn */

.btn {
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}


/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: fadeIn ease 0.2s; */
    display: none;
}

.modal.open {
    display: flex;
}